
.item-content{
	width: 100%;
	display: flex;
	justify-content: center;
	min-height: 425px;
}

.div-cart {
	box-sizing: content-box;
	padding: 10px;
	border-radius: 8px;
	width: 500px;
	height: 300px;
	box-shadow: .1px .1px 5px #999;
	background-color: #F9F4F5;
	cursor:default;
}

@media only screen and (min-width:425px) and (max-width:768px){

	.card-container{
		display: flex;
		margin-top: 50px;
		margin-bottom: 50px;
		transform: scale(0.9);
		
	}


}



@media only screen and (min-width:320px) and (max-width:375px){

	.card-container{
		/* width: 100%; */
		transform: scale(0.9);
	}

	

	.btn-container{
		position:relative;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		transform: translateX(-16px);

		
	}
}
