/* .cart-extract-content{
    min-width: 300px;
    height: 400px;
    border: 1px solid #999;
    box-shadow: 0px 0px 10px #999;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.cart-resumen{
    display: flex;
    justify-content: center;
    flex-direction: column;
} */