.cart-container{
    width: 90%;
    margin: 15px auto;
    /* outline: 1px solid red; */
    
}
.cart-container h1{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.btn-comprar{
    display: flex;
    justify-content: space-evenly;
}

.btn-comprar button{
    width: 100px;
    height: 3rem;
    padding: 3px;
    margin-top: 50px;
    border: none;
    color: #fff;
    background-color: rgb(216, 106, 106);
    border-radius: 4px ;
    box-shadow: 1px 1px 10px #999 ;
    cursor:pointer;
}
.btn-comprar button:hover{
    background-color: rgb(212, 142, 142);
}


